body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: seagreen;
}

.container{
    width: 420px;
    background: purple;
    color: white;
}

footer {
    text-align: center;
}

footer a {
    text-decoration: none;
}